{% extends "News/base.html" %}
{% load static %}

{% block title %}Редактирование новости{% endblock %}
    {% block extra_styles %}
    <link rel="stylesheet" href="{% static 'News/css/edit_news.css'%}">
    {% endblock %}
    

{% block content %}
<div class="form-container">
    <h2>Ваш пост</h2>
    <div class = "form-wrap">
    <form id="newsForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="{{ edit_form.title.id_for_label }}">Заголовок новости:</label>
        {{ edit_form.title }}
        {% if edit_form.title.errors %}
            <div class="error-message">
                {% for error in edit_form.title.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <label for="{{ edit_form.main_image.id_for_label }}">Фото для превью:</label>
        {{ edit_form.main_image }}
        {% if edit_form.main_image.errors %}
            <div class="error-message">
                {% for error in edit_form.main_image.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <label for="{{ edit_form.text.id_for_label }}">Текст новости:</label>
        {{ edit_form.text }}
        {% if edit_form.text.errors %}
            <div class="error-message">
                {% for error in edit_form.text.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <label for="author">Автор новости:</label>
        <div>{{ request.user }}</div>
        </div>
        <div class='Btn-wrap'>
        <button type="submit" class="form-button">Сохранить новость</button>
        </div>
    </form>
    

</div>

<script>
    console.log('jQuery:', typeof $);
    console.log('Summernote:', typeof $.fn.summernote);
    $('{{ edit_form.text.id_for_label }}').summernote({
        placeholder: 'Hello Bootstrap 4',
        tabsize: 2,
        height: 100
      });
</script>

{% endblock %}
