{% extends "News/base.html" %}
{% load static %}

{% block title %}Редактирование новости{% endblock %}

{% block extra_styles %}
<!-- Дополнительные стили для этой страницы -->
<link rel="stylesheet" href="{% static 'News/css/news_list.css' %}">
{% endblock %}

{% block content %}


        {% for item in news %}
            <div class="news-container">
                <div class="separate-elem">

                    {% if item.image_preview %}
                    <div class = "news-image">
                        <img src="{{item.image_preview.url}}">
                    </div>
                    {% endif %}

                    <div class = "news-text-content">
                        <h1>{{item.title}}</h1>
                        {{item.status}}
                        <p class="text-btns">
                            <a class="btn-Upd" href="{% url 'News:update_news' item.id %}">Update</a>
                            <a class="btn-Del" href="{% url 'News:delete_news' item.id %}">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="add-news-wrapper">
            <a class="add-News" href="{% url 'News:create_news' %}">+</a>
        </div>
{% endblock %}
