{% extends "News/base.html" %}
{% load static %}

{% block title %}Редактирование новости{% endblock %}

{% block extra_styles %}

<link rel="stylesheet" href="{% static 'News/css/read_news.css' %}">
{% endblock %}

{% block content %}

<div class="article">
<h1 class="headline">{{ item.title }}</h1>
        {% if item.main_image %}
        <img src="{{ item.image_preview.url }}" alt="Описание картинки" class="news-image">
        {% endif %}
        <p class="news-text">
            {{ item.text | safe}}
        </p>

</div>

{% endblock %}